body, html {
    margin: 0;
    padding: 0;
    font-family: 'Share Tech', sans-serif;
    background: linear-gradient(to right, #4e2689, #8661c1);
    color: white;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

h1 {
    font-weight: 700;
    margin: 0;
}

.header-logo {
    height: 60px;
    padding: 10px 0;
}

.logo-bottom-left {
    position: fixed;
    left: 20px;
    bottom: 20px;
    height: 90px;
}

.logo-bottom-right {
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 90px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#countdown {
    display: flex;
    gap: 30px;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.time-container {
    text-align: center;
}

.time {
    font-size: 4em;
    font-weight: 700;
}

.label {
    font-size: 1.4em;
    color: #ccc;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 30px;
}